# Eat Safe, Love

## Part 1: Database and Jupyter Notebook Set Up

Import the data provided in the `establishments.json` file from your Terminal. Name the database `uk_food` and the collection `establishments`.

Within this markdown cell, copy the line of text you used to import the data from your Terminal. This way, future analysts will be able to repeat your process.

e.g.: Import the dataset with mongoimport --db uk_food --collection establishments --drop --file "./nosql-challenge/Resources/establishments.json" --jsonArray

In [8]:
# Import dependencies
from pymongo import MongoClient
from pprint import pprint
import pymongo

In [9]:
# Create an instance of MongoClient
mongo = MongoClient(port=27017)

In [10]:
# confirm that our new database was created
print(mongo.list_database_names())

['admin', 'class', 'classDB', 'config', 'epa', 'fruits_db', 'local', 'met', 'petsitly_marketing', 'travel_db', 'uk_food']

In [11]:
# assign the uk_food database to a variable name
db = mongo['uk_food']

In [12]:
# review the collections in our new database
collections = db.list_collection_names()
collections

['establishments']

In [ ]:
# review the collections in our new database
establishments = db['establishments']

In [13]:
# review a document in the establishments collection
collections = db.list_collection_names()
collections

['establishments']

In [14]:
# assign the collection to a variable
establishments = db['establishments']

## Part 2: Update the Database

1. An exciting new halal restaurant just opened in Greenwich, but hasn't been rated yet. The magazine has asked you to include it in your analysis. Add the following restaurant "Penang Flavours" to the database.

In [15]:
# Create a dictionary for the new restaurant data
# AI was used to generate this data as the AI model was unable to generate a full document.
new_restaurant = {
    "BusinessName": "Penang Flavours",
    "BusinessType": "Restaurant/Cafe/Canteen",
    "BusinessTypeID": "",
    "AddressLine1": "Penang Flavours",
    "AddressLine2": "146A Plumstead Rd",
    "AddressLine3": "London",
    "AddressLine4": "",
    "PostCode": "SE18 7DY",
    "Phone": "",
    "LocalAuthorityCode": "511",
    "LocalAuthorityName": "Greenwich",
    "LocalAuthorityWebSite": "http://www.royalgreenwich.gov.uk",
    "LocalAuthorityEmailAddress": "health@royalgreenwich.gov.uk",
    "scores": {
        "Hygiene": "",
        "Structural": "",
        "ConfidenceInManagement": ""
    },
    "SchemeType": "FHRS",
    "geocode": {
        "longitude": "0.08384000",
        "latitude": "51.49014200"
    },
    "RightToReply": "",
    "Distance": 4623.9723280747176,
    "NewRatingPending": True
}

In [16]:
# Insert the new restaurant into the establishments collection
establishments.insert_one(new_restaurant)
print("New restaurant 'Penang Flavours' added successfully.")

New restaurant 'Penang Flavours' added successfully.

In [18]:
# Check that the new restaurant was inserted

query = {"BusinessName": "Penang Flavours"}

# Retrieve and display the document
new_restaurant_entry = establishments.find_one(query)
new_restaurant_entry

{'_id': ObjectId('672076f729ff0cd3f20492e1'),
 'BusinessName': 'Penang Flavours',
 'BusinessType': 'Restaurant/Cafe/Canteen',
 'BusinessTypeID': '',
 'AddressLine1': 'Penang Flavours',
 'AddressLine2': '146A Plumstead Rd',
 'AddressLine3': 'London',
 'AddressLine4': '',
 'PostCode': 'SE18 7DY',
 'Phone': '',
 'LocalAuthorityCode': '511',
 'LocalAuthorityName': 'Greenwich',
 'LocalAuthorityWebSite': 'http://www.royalgreenwich.gov.uk',
 'LocalAuthorityEmailAddress': 'health@royalgreenwich.gov.uk',
 'scores': {'Hygiene': '', 'Structural': '', 'ConfidenceInManagement': ''},
 'SchemeType': 'FHRS',
 'geocode': {'longitude': '0.08384000', 'latitude': '51.49014200'},
 'RightToReply': '',
 'Distance': 4623.972328074718,
 'NewRatingPending': True}

2. Find the BusinessTypeID for "Restaurant/Cafe/Canteen" and return only the `BusinessTypeID` and `BusinessType` fields.

In [19]:
# Find the BusinessTypeID for "Restaurant/Cafe/Canteen" and return only the BusinessTypeID and BusinessType fields

query = {"BusinessType": "Restaurant/Cafe/Canteen"}
projection = {"BusinessTypeID": 1, "BusinessType": 1, "_id": 0}

# Execute the query
business_type_info = establishments.find_one(query, projection)
business_type_info

{'BusinessType': 'Restaurant/Cafe/Canteen', 'BusinessTypeID': 1}

3. Update the new restaurant with the `BusinessTypeID` you found.

In [20]:
# Update the new restaurant with the correct BusinessTypeID
from pymongo import MongoClient

# Connect to MongoDB
client = MongoClient()
db = client['uk_food']
establishments = db['establishments']

# Define the update query and data to set BusinessTypeID to 1
update_query = {"BusinessName": "Penang Flavours"}
update_data = {"$set": {"BusinessTypeID": 1}}  # 1 is the BusinessTypeID for "Restaurant/Cafe/Canteen"

# Execute the update
update_result = establishments.update_one(update_query, update_data)

# Check if the update was successful
if update_result.modified_count > 0:
    print("BusinessTypeID updated successfully for 'Penang Flavours'.")
else:
    print("No update made. Check if 'Penang Flavours' exists in the database.")

BusinessTypeID updated successfully for 'Penang Flavours'.

In [21]:
# Confirm that the new restaurant was updated
establishments.find_one({"BusinessName": "Penang Flavours"}, {"BusinessName": 1, "BusinessTypeID": 1, "_id": 0})

{'BusinessName': 'Penang Flavours', 'BusinessTypeID': 1}

4. The magazine is not interested in any establishments in Dover, so check how many documents contain the Dover Local Authority. Then, remove any establishments within the Dover Local Authority from the database, and check the number of documents to ensure they were deleted.

In [22]:
# Find how many documents have LocalAuthorityName as "Dover"
establishments.count_documents({"LocalAuthorityName": "Dover"})

2982

In [23]:
# Delete all documents where LocalAuthorityName is "Dover"
establishments.delete_many({"LocalAuthorityName": "Dover"})

DeleteResult({'n': 2982, 'ok': 1.0}, acknowledged=True)

In [24]:
# Check if any remaining documents include Dover
establishments.count_documents({"LocalAuthorityName": "Dover"})

0

In [25]:
# Check that other documents remain with 'find_one'
establishments.find_one()

{'_id': ObjectId('67201696823ec277b115993f'),
 'FHRSID': 289353,
 'ChangesByServerID': 0,
 'LocalAuthorityBusinessID': 'PI/000002468',
 'BusinessName': 'St Marys COE (aided) Primary School',
 'BusinessType': 'School/college/university',
 'BusinessTypeID': 7845,
 'AddressLine1': 'St Marys Church Of England Primary School',
 'AddressLine2': 'Warren Road',
 'AddressLine3': 'Folkestone',
 'AddressLine4': 'Kent',
 'PostCode': 'CT19 6QH',
 'Phone': '',
 'RatingValue': '5',
 'RatingKey': 'fhrs_5_en-gb',
 'RatingDate': '2016-09-13T00:00:00',
 'LocalAuthorityCode': '188',
 'LocalAuthorityName': 'Folkestone and Hythe',
 'LocalAuthorityWebSite': 'http://www.folkestone-hythe.gov.uk',
 'LocalAuthorityEmailAddress': 'foodteam@folkestone-hythe.gov.uk',
 'scores': {'Hygiene': 0, 'Structural': 0, 'ConfidenceInManagement': 0},
 'SchemeType': 'FHRS',
 'geocode': {'longitude': '1.194762', 'latitude': '51.085797'},
 'RightToReply': '',
 'Distance': 4591.871474174837,
 'NewRatingPending': False,
 'meta': {'dataSource': None,
  'extractDate': '0001-01-01T00:00:00',
  'itemCount': 0,
  'returncode': None,
  'totalCount': 0,
  'totalPages': 0,
  'pageSize': 0,
  'pageNumber': 0},
 'links': [{'rel': 'self',
   'href': 'https://api.ratings.food.gov.uk/establishments/289353'}]}

5. Some of the number values are stored as strings, when they should be stored as numbers.

Use `update_many` to convert `latitude` and `longitude` to decimal numbers.

In [26]:
# Change the data type from String to Decimal for longitude and latitude
# Convert latitude and longitude fields to decimal (double) data type
# AI was used to convert the values to decimal numbers
establishments.update_many(
    {},
    [
        {"$set": {"geocode.latitude": {"$toDouble": "$geocode.latitude"}}},
        {"$set": {"geocode.longitude": {"$toDouble": "$geocode.longitude"}}}
    ]
)

UpdateResult({'n': 116356, 'nModified': 116356, 'ok': 1.0, 'updatedExisting': True}, acknowledged=True)

Use `update_many` to convert `RatingValue` to integer numbers.

In [27]:
# Set non 1-5 Rating Values to Null
non_ratings = ["AwaitingInspection", "Awaiting Inspection", "AwaitingPublication", "Pass", "Exempt"]
establishments.update_many({"RatingValue": {"$in": non_ratings}}, [ {'$set':{ "RatingValue" : None}} ])

UpdateResult({'n': 12273, 'nModified': 12273, 'ok': 1.0, 'updatedExisting': True}, acknowledged=True)

In [28]:
# Change the data type from String to Integer for RatingValue
establishments.update_many(
    {"RatingValue": {"$type": "string"}},
    [{"$set": {"RatingValue": {"$toInt": "$RatingValue"}}}]
)

UpdateResult({'n': 104082, 'nModified': 104082, 'ok': 1.0, 'updatedExisting': True}, acknowledged=True)

In [29]:
# Check that the coordinates and rating value are now numbers
# AI was used to check the data types of the fields and ensure they are as expected
sample_document = establishments.find_one(
    {}, 
    {"geocode.latitude": 1, "geocode.longitude": 1, "RatingValue": 1, "_id": 0}
)
sample_document

{'RatingValue': 5, 'geocode': {'longitude': 1.194762, 'latitude': 51.085797}}